@*Datagli lezione*@
@model LezioneViewModel

<h1>Detagli della lezione del corso -> @Model.CorsoCodice in aula: @Model.Aula </h1>
<br />
<p>Data e ora: @Model.DataOraInizio</p>
<p>Il docente con id: @Model.DocenteID</p>